<launch>
    <arg name="twist_topic" default="/twist_cmd"/>
    <arg name="remote_control_topic" default="/"/>

    <node name="twist_to_remote_control_publisher" pkg="drive_ros_gazebo_control" type="gazebo_ros_twist_to_remote_control_node" respawn="false" output="screen">
        <remap from="twist_in" to="$(arg twist_topic)"/>
        <remap from="remote_control_out" to="$(arg remote_control_topic)"/>
    </node>
</launch>
